apiVersion: apps/v1
kind: Deployment
metadata:
  name: ms-persistance
  labels:
    app: ms-persistance
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ms-persistance
  template:
    metadata:
      labels:
        app: ms-persistance
    spec:
      containers:
      - name: ms-persistance
        image: abdboutchichi/ms-persistance:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8090
          name: http
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "dev"
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8090
          initialDelaySeconds: 20
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 10
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8090
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 10
---
apiVersion: v1
kind: Service
metadata:
  name: ms-persistance
  labels:
    app: ms-persistance
spec:
  type: NodePort
  selector:
    app: ms-persistance
  ports:
  - name: http
    protocol: TCP
    port: 8090
    targetPort: 8090
    nodePort: 30090

