apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: recipeyoulove-apps
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  source:
    repoURL: https://github.com/EmilieHascoet/RecipeYouLove.git
    targetRevision: HEAD
    path: k8s/argocd/applications
    directory:
      recurse: true
      exclude: 'parent-app.yaml'

  destination:
    server: https://kubernetes.default.svc
    namespace: argocd

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m

